p {
    color: black
}

/* image {
    width: 100px;
    height: 100px;
    
}
image img {
    width: 100px;
    height: 100px;
    background-color: black;
    object-fit: fill;
} */
.image img {
    /* width: 200px;
    height: 100px;
    background-color: black;
    object-fit: cover ; */
    width : 400px;
    height : 250px;
    object-fit: fill;
}

.logo img {
    /* width: 100px;
    height: 100px; */
    /* position :absolute;
    top: 0;
    left: 0;

    object-fit: fill; */
    margin: 20px;
}

.para {
    font: 100%/1.5 Arial, Helvetica, sans-serif;
    background-color:pink  ;
    color: black;
    line-height: 1.5;
}

#firstpara {
    color: blue;
    font: 100%/1.5 Arial, Helvetica, sans-serif;
    background-color: yellow ;
    border:2px black solid ;
    border-radius:10px;
    width : 550px;
    margin:30px;
}
#secondpara {
    color:black; /* # used for id and . used for class */
    /* border: 0.01cm solid goldenrod; */
    /* border-radius:10px; */
    /* r-top: 2px black solid ; */
    border:2px black solid ;
    border-radius:10px;
    width: 550px;
    margin:20px;
}    
/* div {
    border: 2px black solid ;
    margin : 20px;
    padding : 10px;
    width:100px;

} */

.box {
    width : 100px;
    height : 100px;
    background-color: red;
    margin:20px;
    border:2px black solid;
    padding : 7px;
    font: white ;
}

*{
    box-sizing : border-box;
}

span {
    display:block;
    border:black solid 3px;
    width : 100px;
    margin : 10px;
    background-color: yellow;
    padding: 10px;
    
    
}