p {
    color: black
}
#firstpara {
    color: blue;
    font: 100%/1.5 Arial, Helvetica, sans-serif;
    background-color: lightgray ;
}
/* image {
    width: 100px;
    height: 100px;
    
}
image img {
    width: 100px;
    height: 100px;
    background-color: black;
    object-fit: fill;
} */
.image img {
    width: 200px;
    height: 100px;
    background-color: black;
    object-fit: cover ;
}

.logo img {
    width: 100px;
    height: 100px;
    position :absolute;
    top: 0;
    left: 0;

    object-fit: fill;
}

.para {
    font: 100%/1.5 Arial, Helvetica, sans-serif;
    background-color: lightgray ;
    color: black;
    line-height: 1.5;
}

#secondpara {
    color: red; /* # used for id and . used for class */
    border: 0.01cm solid goldenrod;
    border-radius:10px;
}    